.chat-container {
  max-width: 600px;
  margin: auto;
  padding: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.chat-box {
  height: 400px;
  overflow-y: auto;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius:10px;
  margin-bottom: 10px;
  background:#333;
  color:#fff;
}

.chat-message {
  margin-bottom: 10px;
  padding: 8px;
  border-radius: 6px;
  max-width: 70%;
  color:#333;
}

.mine {
  background: #d1f5ff;
  margin-left: auto;
}

.theirs {
  background: #eaeaea;
}

.chat-input {
  display: flex;
  gap: 8px;
}

.chat-input input {
  flex: 1;
  padding: 8px;
  border-radius: 10px;
  background-color:dodgerblue;
  border:dodgerblue;
  color:#fff;
}
.chat-input input::placeholder{
  color:#fff;
}
.chat-input button {
  padding: 8px 14px;
  background-color: orangered;
  border:orangered;
  color:#fff;
  border-radius:10px;
}
.chat-input button:hover{
    background-color: rgb(249, 97, 41);

}