.chat-container {
  max-width: 600px;
  margin: 40px auto;
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 10px;
  background: white;
}

.messages-box {
  height: 300px;
  overflow-y: auto;
  border: 1px solid #190404;
  color:#fff;
  padding: 10px;
  margin-bottom: 10px;
}

.message {
  margin-bottom: 10px;
  padding: 6px 10px;
  border-radius: 6px;
}

.own {
  background: #dcf8c6;
  text-align: right;
}

.other {
  background: #f1f1f1;
  text-align: left;
}

.input-area {
  display: flex;
  gap: 10px;
}

.input-area input {
  flex: 1;
  padding: 8px;
}

.input-area button {
  padding: 8px 12px;
  cursor: pointer;
}
